<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.donews.middle">

    <application>
        <activity
            android:name=".ui.GoodLuckDoubleDialog"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_style_middleware"
            tools:ignore="Instantiatable" />
        <service android:name=".service.CritLotteryService" />
    </application>

</manifest>