<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.home">

    <application>
        <activity
            android:name=".HomeRealTimeActivity"
            android:exported="true" />
        <activity
            android:name=".HomeSearchActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeHelpActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeCrazyListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeWelfareActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>