<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.crashhandler">

    <application>

        <provider
            android:name="com.donews.crashhandler.CrashInitProvider"
            android:authorities="${applicationId}.crashinit-provider"
            android:exported="false"
            android:initOrder="1000"
            android:multiprocess="true"/>


    </application>


</manifest>