<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dn.sdk">

    <!--    com.dn.sdk-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".TestApplication"
        android:label="@string/sdk_module_app_name"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:replace="android:label">
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".test.NewsFeedCustomerRenderActivity" />


        <activity
            android:name=".ui.LockerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.downs.LockerActivity"
            android:theme="@style/LockerTheme" />


        <activity
            android:name=".ui.PopupVideoActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.donews.PopupVideoActivity"
            android:launchMode="standard"
            android:theme="@style/TransStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".dialog.AppDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.downs.AppDialog"
            android:theme="@style/AppDialogTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.dn.dialog"
                    android:path="/appDialog"
                    android:scheme="donews" />
            </intent-filter>


        </activity>

        <service android:name=".service.AdDaemonService" />
    </application>

</manifest>