<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.base">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:networkSecurityConfig="@xml/base_network_security_config">
        <activity
            android:name=".appdialog.permission.GrantActivity"
            android:theme="@style/GrantNoDisplay" />

    </application>
</manifest>
