<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.reward">

    <application>
        <activity
            android:name="com.donews.reward.RewardActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>