<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.turntable">
    <application>
        <activity
            android:launchMode="singleTask"
            android:name=".view.TrunMainActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

    </application>

</manifest>