<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donews.mine">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".ui.WithdrawalRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawalCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MineUserCancellationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MineRewardHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MineWinningCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MineWinningRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MineParticipateRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".backdoor.BackDoorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvitationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserCenterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>