<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dn.feedback">

    <application>
        <!-- 意见反馈页面 -->
        <activity android:name=".FeedbackActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>